<?xml version="1.0"?>

<configuration>
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>

  <location path="CreateResourceCheckList.aspx">
    <system.web>
      <authorization>
        <allow roles="Agent,Manager"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ResourcesCheckList.aspx">
    <system.web>
      <authorization>
        <allow roles="Manager"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>